.App {
  text-align: center;
  background-color: #f2f2f2;
  min-height: 100vh;
}

.paste {

  padding: 30px 10px 0 122px;
  position: absolute;
  text-align: start;
}

.paste::before {
  visibility: visible;
  opacity: 1;
}

